<h1>Problemas</h1>

<!-- <%= Issue.all.inspect %> -->
<%= link_to("Crear problema", new_issue_path) %>
<table class="table table-sm table-dark">
  <tbody>
    <% @issues.each do |issue| %>
    <tr>
      <td>
        <div><%= issue.title %></div>
        <div><%= issue.description %></div>
      </td>
      <td><%= issue.open %></td>

      <td><button type="button" class="btn btn-outline-light"><%= link_to("Ver", issue_path(issue)) %></button></td>
    </tr>

  </tbody>
  <% end %>
</table>
